<!DOCTYPE html5.0>
<html>
<head>
	{% block head %}
	<title>{% block title %}{% endblock %} - My CSE491 App</title>
	{% endblock %}
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
		<a class="brand" href="#">Alcoholics No-Anon</a>
		<ul class="nav">
			<li><a href="recipes">List of recipes</a></li>
			<li><a href="inventory">Current Inventory</a></li>
			<li><a href="liquor_types">Types of Liquor</a></li>
			<li><a href="convert">Unit Converter</a></li>
		</ul>
	</div>
	<div class="container">
		<div class="row">
			<div class="span12" id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
	<footer>
		{% block footer %}
		&copy; Copyright 2023 by <a href="http://skynet.net/">Jacob Riesser</a>.
		{% endblock %}
	</footer>
</body>
{% block javascript %}
{% endblock %}
</html>