<!DOCTYPE HTML 5.0>
<html>
<head>
	{% block head %}
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 80px;
		}
		.hero-unit {
			margin-top: 30px;
		}
	</style>
	<title>{% block title %}{% endblock %} - My CSE491 App</title>
	{% endblock %}
</head>
<body>
	{% block modal %}
	{% endblock %}
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">Alcoholics No-Anon</a>
				<ul class="nav">
					<li><a href="recipes_list">All the Recipes!</a></li>
					<li><a href="inventory">All the Inventory!</a></li>
					<li><a href="liquor_types">All the Liquor!</a></li>
					<li><a href="convert">Unit Converter</a></li>
					<li><a href="enter_liq_types">Add Sum Bottle Type</a></li>
					<li><a href="enter_liq_inventory">Add Sum Booze</a></li>
					<li><a href="add_recipe">Got A Good Recipe?</a></li>
				</ul>
			</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span12" id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>

		<div class="footer">
		<div class="row">
			<div class="span12">
				<div class="alert alert-info">
					<p><strong>In no way is this site actually functional in any way, it is meant for 
						demonstration purposes only and in no way endorses anything alcoholic in nature. Any data displayed is merely the results of testing, and in no way represents actual alcoholic stores.
					</strong>
					</p>
					<p><strong>Thank you for visiting
					</strong>
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>

</body>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
{% block javascript %}
{% endblock %}
</html>