{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="hero-unit">
		<h1>Hello, Alcoholics!</h1>
		<p>This is a Project for CSE491 at Michigan State University.  It explores the basic concepts
			of database-backed web design, javascript, WSGI servers, and Jinja2 templating. In order to navigate, use the navbar at the top of each page ^^^</p>
		<p><button id="btnAlert" onclick="Alert()" class="btn btn-primary btn-large">Cool!</button>
		</p>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
		function Alert(){
			alert("I Know Right?!?!!");
		}
</script>
{% endblock %}
